body {
    background: #337CA0;
    text-align: center;
}

.egg {
    width: 100px;
    padding: 10px;
}

.container {
    padding: 20px;
    background: #fff;
    width: 800px;
}

.navbar-nav {
    flex-direction: row;
    padding-right: 13px;
}
.nav-item {
    padding-left: 15px;
}

entry-form {
    width: 350px;
    margin-top: 20px;
}

form div {
    padding: 5px 0;
    text-align: left;
    margin-left: 27px;
}

form div label {
    width: 26%;
}

.btn {
    margin-top: 10px;
    color: white;
    border: none;
    padding: 5px 25px;
}

table .btn {
    margin: 0 0 10px 0;
}
