{% extends "layout.html" %} {% block title %} Guest List | {{ super() }} {%
endblock %} {% block content %}
<h2>Guest List</h2>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Dish Type</th>
      <th scope="col">Dish</th>
    </thead>
    {% for attendee in attendees %}
    <tr>
      <td>{{ attendee.first_name }}</td>
      <td>{{ attendee.last_name }}</td>
      <td>{{ attendee.dish_type }}</td>
      <td>{{ attendee.dish }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
