<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Let's Do Brunch!{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1" width="device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Nanum+Brush+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-SF8R56H54Q"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-SF8R56H54Q");
    </script>
  </head>
  <body>
    <div class="app-content">
      <nav class="container navbar navbar-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img
            src="/static/images/egg.png"
            class="egg"
            alt="egg icon"
            width="15"
            class="d-inline-block align-top"
            alt=""
          />
          Let's Do Brunch!
        </a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('createEvent') }}"
              >Create Brunch</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('brunchList') }}"
              >View Brunches</a
            >
          </li>
        </ul>
      </nav>
      <div class="container">{% block content %}{% endblock %}</div>
    </div>
    <footer>
      <p>
        <a href="https://heidifryzell.com"
          ><i class="fa-solid fa-terminal"></i
        ></a>
        <a href="https://heidifryzell.com">heidifryzell.com</a> &copy;<span
          id="copyrightYear"
        ></span>
      </p>
    </footer>
    <script src="/static/app.js"></script>
  </body>
</html>
